
  
  .subz-menuzz {
    min-width: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  
  .subz-menuzz > li {
    display: absolute;
    margin-right: 0;
    width: 100%;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .subz-menuzz > li > a {
    display: block;
    position: relative;
    z-index: 10;
    padding: 12px 15px;
    font-size: 13px;
    line-height: 20px;
    color: #1d1d1d;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .subz-menuzz > li > a:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5px;
    width: 0;
    height: 2px;
    background-color: #003060;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .subz-menuzz > li > a:hover {
    padding-left: 25px;
    color: #003060;
  }
  
  .subz-menuzz > li > a:hover:before {
    width: 15px;
  }
  
  .subz-menuzz > li:last-child > a {
    border-bottom: none;
  }
  
  .subz-menuzz > li.menuz-item-has-children {
    position: relative;
  }
  
  .subz-menuzz > li.menuz-item-has-children > .subz-menuzz {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
  }
  
  .subz-menuzz > li.menuz-item-has-children:hover > .subz-menuzz {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  @media (max-width: 1199px) {
    .subz-menuzz {
      min-width: 0;
    }
  }
  
  .mega-menuzz {
    position: absolute;
    top: 100%;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    visibility: hidden;
    opacity: 0;
    border-top: 1px solid #d8d8d8;
  }
  
  .mega-menuzz .mega-wrapz {
    max-width: 1440px;
    margin: 0 auto;
    padding: 35px 30px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    text-align: left;
  }
  
  .mega-menuzz .mega-headingz {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    color: #1d1d1d;
    text-transform: uppercase;
  }
  
  .mega-menuzz .mega-columnz {
    width: 20%;
    padding: 0 30px;
    border-right: 1px solid #fff;
  }
  
  .mega-menuzz .mega-columnz:last-child {
    border-right: 0;
  }
  
  .mega-menuzz .mega-itemz a {
    display: block;
    padding: 5px 0;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #1d1d1d;
    font-weight: 400;
  }
  

  
  .mega-menuzz .mega-itemz a:hover:before {
    width: 20px;
  }
  
  .mega-menuzz .mega-itemz.mega-features li {
    margin-bottom: 0;
  }
  
  .mega-menuzz .mega-itemz.mega-features a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    color: #1d1d1d;
    text-transform: uppercase;
  }
  

  
  @media (max-width: 1199px) {
    .mega-menuzz {
      position: relative;
      top: 0;
      left: 0;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      transition: all 0s ease;
      visibility: visible;
      opacity: 1;
      display: none;
    }
    .mega-menuzz .mega-wrapz {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 10px 15px;
      border-top: 1px solid #eee;
    }
    .mega-menuzz .mega-columnz {
      width: 100%;
      margin-bottom: 15px;
      padding: 0 0 15px;
      border-right: none;
      border-bottom: 1px solid #eee;
    }
    .mega-menuzz .mega-columnz:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    .mega-menuzz .mega-itemz li a {
      font-size: 13px;
    }
    .mega-menuzz .mega-itemz.mega-features li > a {
      font-size: 13px;
    }
  }
  
  .menuz {
    display: inline-block;
    vertical-align: top;
  }
  
  .menuz::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .menuz > li {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  
  .menuz > li > a {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    z-index: 10;
    color: #000;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
  }
  
  
  
  .menuz > li > a:hover {
    color: #ffffff;
  }
  
  .menuz > li > a:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  .menuz > li > .subz-menuzz {
    visibility: hidden;
    opacity: 0;
  }
  
  .menuz > li.has-mega-menuzz {
    position: static;
  }
  
  .menuz > li.dropdown {
    position: relative;
  }
  
  .menuz > li.dropdown:hover > .subz-menuzz {
    visibility: visible;
    opacity: 1;
  }
  
  .menuz > li.menuz-item-has-children > .subz-menuzz {
    padding-top: 10px;
  }
  
  .menuz > li.menuz-item-has-children > .subz-menuzz:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 40px;
    height: 0;
    width: 0;
    border-bottom: 7.5px solid #f7f7f7;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
  }
  
  .menuz > li.current-menuz-item > a {
    color: #fff;
  }
  
  .menuz > li.current-menuz-item > a:before, .menuz > li.current-menuz-item > a:after {
    visibility: visible;
    opacity: 1;
  }
  
  .menuz > li.highlight > a {
    color: #dd3838;
  }
  
  .menuz > li.highlight > a:hover {
    color: #ffffff;
  }
  
  .menuz > li:hover > .subz-menuzz {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .menuz > li:hover .mega-menuzz {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 1199px) {
    .menuz {
      display: block;
    }
    .menuz > li {
      display: block;
      float: none;
      width: 100%;
      border-bottom: 1px solid #eee;
    }
    .menuz > li > a {
      display: block;
      padding: 5px 10px;
      line-height: 20px;
      font-weight: 500;
      font-size: 12px;
    }
    .menuz > li > a:before {
      visibility: visible;
      opacity: 1;
    }
    .menuz > li > a:hover {
      color: #fff;
    }
    .menuz > li.current-menuz-item > a {
      color: #fff;
    }
    .menuz > li.menuz-item-has-children > .subz-menuzz {
      padding-top: 0;
      padding-left: 15px;
    }
    .menuz > li.menuz-item-has-children > .subz-menuzz:before {
      display: none;
    }
    .menuz > li.menuz-item-has-children > .subz-menuzz > li > {
      padding-left: 30px;
    }
    .menuz > li.menuz-item-has-children > a:before {
      content: "\f107";
      font-family: FontAwesome;
      display: inline-block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: auto;
      right: 10px;
      background-color: transparent;
      width: 10px;
      height: auto;
    }
    .menuz .subz-menuzz {
      padding: 0;
      position: relative;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      transition: all 0s ease;
    }
    .menuz .subz-menuzz > li {
      border-bottom: 1px solid #eee;
    }
    .menuz .subz-menuzz > li > a {
      padding: 10px 15px;
    }
    .menuz .subz-menuzz > li:last-child {
      border-bottom: 0;
    }
    .menuz .subz-menuzz > li.menuz-item-has-children > .subz-menuzz {
      position: relative;
      top: 0;
      left: 0;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    .menuz .subz-menuzz > li.menuz-item-has-children > .subz-menuzz li a {
      padding-left: 30px;
    }
  }
  
  .headerz__actions {
    float: right;
    font-size: 0;
  }
  
  .headerz__actions > a, .headerz__actions .ps-dropdown > a {
    display: inline-block;
    padding: 0 15px;
    font-size: 13px;
    text-align: center;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    border-right: 1px solid #e5e5e5;
    vertical-align: top;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  
  .headerz__actions > a > i.fa.fa-angle-down, .headerz__actions .ps-dropdown > a > i.fa.fa-angle-down {
    margin-left: 5px;
  }
  
  .headerz__actions > a:hover, .headerz__actions .ps-dropdown > a:hover {
    background-color: #003060;
    color: #fff;
  }
  
  .headerz__actions > a {
    border-left: 1px solid #e5e5e5;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz {
    left: auto;
    right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz li img {
    float: right;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz li img:last-child {
    border-bottom: none;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz li a {
    padding: 9px 20px;
    display: block;
    line-height: 20px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz li a img {
    max-width: 20px;
    border: 1px solid #eee;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz li a:hover {
    background-color: #003060;
    color: #fff;
  }
  
  .headerz__actions .ps-dropdown .dropdown-menuz li:last-child > a {
    border-bottom: none;
  }
  
  .headerz__actions .ps-dropdown.open a.dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #003060;
    color: #fff;
  }
  
  @media (max-width: 479px) {
    .headerz__actions .ps-dropdown > a, .headerz__actions .ps-dropdown .ps-dropdown > a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 479px) {
    .headerz__actions > a, .headerz__actions .ps-dropdown > a {
      padding: 0 10px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 479px) {
    .headerz__actions .ps-dropdown .dropdown-menuz {
      left: auto;
      right: 0;
    }
  }
  
  .headerz__top {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .headerz__top p {
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-align: left;
    color: #333;
    line-height: 40px;
  }
  
  .navigation {
    position: relative;
    color: #fff;
    padding: 20px 0;
  }
  
  .navigation .ps-cart, .navigation .ps-form--search {
    float: right;
  }
  
  .navigation .ps-form--search {
    margin-right: 25px;
  }
  
  .navigation .ps-logo {
    position: relative;
    top: -15px;
    margin-bottom: -15px;
    max-width: 190px;
    margin-right: 50px;
    display: inline-block;
  }
  
  .navigation .menuz {
    padding-top: 2px;
  }
  
  @media (max-width: 1300px) {
    .navigation .ps-form--search {
      margin-right: 10px;
    }
  }
  
  @media (max-width: 1199px) {
    .navigation {
      padding: 10px 0;
    }
    .navigation .ps-logo {
      float: left;
    }
    .navigation .menuz-toggle {
      position: relative;
      float: right;
      margin-left: 10px;
    }
  }
  
  @media (max-width: 479px) {
    .navigation .ps-logo {
      max-width: 140px;
      margin-right: 0;
    }
  }
  
  .headerz {
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  @media (max-width: 1199px) {
    .headerz {
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .headerz .headerz__top p {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    .headerz .ps-search--headerz {
      max-width: 200px;
    }
  }
  
  .headerz--sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-left: 1px solid #eee;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .headerz--sidebar .menuz {
    padding: 0 10px;
  }
  
  .headerz--sidebar .menuz li > a {
    padding-left: 0;
    padding-right: 0;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }
  
  .headerz--sidebar .menuz li > a:before {
    width: 15px;
    right: 0;
    text-align: center;
    background: none;
    color: #000;
  }
  
  .headerz--sidebar.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  
  @media (max-width: 479px) {
    .headerz--sidebar .ps-form--search {
      padding: 15px 10px;
    }
    .headerz--sidebar .ps-form--search input {
      border: 1px solid #eee;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
    }
    .headerz--sidebar .ps-form--search button {
      right: 15px;
    }
  }
  
  .navigation--sticky {
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .navigation--sticky .navigation {
    background-color: #fff;
  }
  
  .navigation--sticky.pin {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .navigation--sticky.unpin {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  
  @media (max-width: 1199px) {
    .navigation--sticky {
      background-color: #000 !important;
    }
    .navigation--sticky.headerz--2 .ps-logo {
      margin-top: 5px;
    }
  }
  
  .menuz--active {
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }
  
  .menuz--active.pin {
    -webkit-transform: translate(-240px, 0);
    -moz-transform: translate(-240px, 0);
    -ms-transform: translate(-240px, 0);
    -o-transform: translate(-240px, 0);
    transform: translate(-240px, 0);
  }
  
  .menuz--active.unpin {
    -webkit-transform: translate(-240px, -100%);
    -moz-transform: translate(-240px, -100%);
    -ms-transform: translate(-240px, -100%);
    -o-transform: translate(-240px, -100%);
    transform: translate(-240px, -100%);
  }
  
  .ps-site-info {
    padding-right: 150px;
  }
  
  .ps-site-info .ps-logo {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 140px;
  }
  
  .ps-site-info p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #797979;
  }
  
  .ps-site-info .ps-site-info__contact h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #797979;
  }
  
  .ps-site-info .ps-social {
    padding-top: 5px;
  }
  
  @media (max-width: 767px) {
    .ps-site-info {
      padding-right: 0;
    }
  }